.app {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 2px solid #f0f0f0;
}

.logo {
    width: 120px;
}

.linkStyle {
    flex: 0 1 calc(100% / 7);
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
}

.nav-items {
    padding: 0px 20px;
}

.nav-items>ul {
    display: flex;
    list-style-type: none;
    font-size: 24px;
}

.nav-items>ul>li {
    padding: 10px;
}

.filter {
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.search {
    margin-top: 50px;
}

.search-box {
    cursor: pointer;
    height: 35px;
    width: 600px;
}

.searchButton {
    background-color: #fc8019;
    cursor: pointer;
    width: 100px;
    color: #ffffff;
    border: none;
    height: 40px;
    margin-left: 5px;
}

.filter-btn {
    cursor: pointer;
    color: #fff;
    background-color: #fc8019;
    border: none;
    width: 100px;
    height: 40px;
    margin-left: 5px;
    margin-top: 50px;
    margin-left: 100px;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.restaurant-card {
    padding: 5px;
    margin: 10px;
    background-color: #f4f4f4;
}

.restaurant-card>p {
    font-size: 14px;
}

.restaurant-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}

.restaurant-logo {
    width: 100%;
    height: 220px;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap
}

.shimmer-card {
    height: 400px;
    width: 200px;
    padding: 5px;
    margin: 10px;
    width: 12%;
    background-color: #f0f0f0;
}

.login {
    background-color: #fc8019;
    cursor: pointer;
    margin: 10px;
    width: 100px;
    color: #ffffff;
    border: none;
}

.aboutus {
    color: #fff;
    background-color: #036f75;
    height: 88vh;
    font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerDiv {
    display: grid;
    place-items: center;
}